<!DOCTYPE html>
<html>

<head>
    <title>Backend Challenges | Free Code Camp</title>
    <link rel="shortcut icon" href="https://cdn.hyperdev.com/us-east-1%3A52a203ff-088b-420f-81be-45bf559d01b1%2Ffavicon.ico" type="image/x-icon" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">


    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
    <link href="/public/style.css" rel="stylesheet" type="text/css">
</head>

<body><div class="container-fluid">
	<h1 class="header">FreeCodeCamp API Basejump: Image Search</h1>
	<br>
	<br>
	<blockquote>
		<h2>User Stories:</h2>
		<ul>
			<li>I can do an image search</li>
			<li>I can look at the last 10 searches</li>
		</ul>
	</blockquote>
	<h3>Example Image Search:</h3>
	<code>https://fcc-image-search1.herokuapp.com/api/imagesearch/car14?start=1&count=2</code>
	<br>
	<ul>
		<li>
			start: start of result
		</li>
		<li>
			count: number of results in page
		</li>
	</ul>
	<br>
	<br>
	<h3>Example Last 10 searches</h3>
	<code>https://fcc-image-search1.herokuapp.com/api/latest/imagesearch</code>
</div>
</body>

</html>